<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102130809712-budob18fkpt57dkibthshffbd5ea87al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102130809712-budob18fkpt57dkibthshffbd5ea87al</string>
	<key>API_KEY</key>
	<string>AIzaSyARGiNRk5C3rMtmUNqvUOLsaMHDI9Zv23k</string>
	<key>GCM_SENDER_ID</key>
	<string>102130809712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cihanios.instaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-f1f04</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-f1f04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102130809712:ios:0a96cbc7ef9208901e6db5</string>
</dict>
</plist>